Flask==2.3.3
torch==2.5.1+cpu --extra-index-url https://download.pytorch.org/whl/cpu
pandas==1.5.3
numpy==1.23.5
requests
nltk
fpdf
xhtml2pdf
textblob
symspellpy
rapidfuzz
python-dotenv
gunicorn
scikit-learn==1.2.2
